// Mixins Here


// button maker
.myBtn(@f-fam; @bg; @rad; @fcolor; @fsize; @pad; @border;){
    font-family: @f-fam;
    background-color: @bg;
    border-radius: @rad;
    color: @fcolor;
    padding: @pad;
    border: @border;
    font-size: @fsize;
    text-align: center;
}


// general use
.flexCenter(){
    display: flex;
    justify-content: center;
}

.flexCol(@dir){
    display: flex;
    flex-direction: @dir;
}