// Navigation code here

.nav-wrapper {
    align-items: center;
    background-color: @wild-sand;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100px;
    width: 100%;

    //navbar mobile
    @media @phone {
        position: fixed; 
        top: 0;
        width: 100%;
        opacity: .95;
    }
    
    h1 {
        font-size: 4rem;
    }

    .links {
        display: flex;
        justify-content: space-around;
        width: 22%;
        

        @media @phone {
            width: 100%;
        }

        a {
            text-decoration: none;
            color: #000;
            font-size: 1.6rem;
        }
    }
    
    
  
  }